.idea/
*.iml
target/
disconf/
logs/
span/
*.log
*.class
/tmp/
/etc/
.DS_Store
*/.DS_Store
*rebel.xml
/epm-bp-bootstrap/git.properties
/multilangconfig.properties
/compressTempDir/
/data/
.flattened-pom.xml
.yms/
